{% extends 'base/base.html' %}
{% load static %}

{% block title %}main_page{% endblock %}


{% block content %}



<div style="padding-top:25px;">
     {% include  'my_data/tag_list.html' %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">


            <br/>
            {% for datam in datas %}

            <h2><a href="{% url 'my_data:data_detail' datam.pk %}">{{ datam.title }}</a> </h2>
<!--            {% if datam.img %}-->
<!--            <img src="{{datam.img.url }}" />-->
<!--            {% endif %}-->
            {% if datam.abstract %}
            <p>{{ datam.abstract }}</p>
            {% else %}
            <p>{{datam.body | truncatechars:20 | safe }}</p>
            {% endif %}
            <p>

                <span>作者: {{ datam.author }}</span>
                <span>发布时间:{{ datam.created_time }}</span>
                <span>浏览量: {{ datam.visiting }}</span>


            </p>


            {% endfor %}

            <div id="pagination" class="pull-left">
                <ul class="pagination pahination-lg">
                    {% if datas.has_previous %}
                        <li class="previous"><a href="?page={{ datas.previous_page_number }}">
                            <i class="glyphicon glyphicon-arrow-left"></i></i>上一页</a></li>
                    {% endif %}

                    {% if first %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}

                    {% if left %}
                        {% if left_has_more %}
                            <span>....</span>
                    {% endif %}

                    {% for i in left %}

                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}


                    <li class="active"><a href="?page={{ datas.number }}">{{ datas.number }}</a></li>

                    {% if right %}
                        {% for i in right %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}

                        {% if right_has_more %}
                            <span>....</span>
                        {% endif %}
                    {% endif %}

                    {% if last %}
                        <li class=""><a href="?page={{ datas.num_pages }}">{{ datas.num_pages }}</a></li>
                    {% endif %}

                    {% if datas.has_next %}
                    <li class="next"><a href="?page={{ datas.next_page_number }}">
                        <i class="glyphicon glyphicon-arrow-right"></i>下一页</a></li>
                    {% endif %}


                </ul>

            </div>





        </div>

    </div>
</div>

{% endblock %}



