{% extends 'base/base.html' %}
{% load comments %}
{% block title %} reply {% endblock %}

{% block content %}


    <div class="container-fluid" style="margin: 60px 100px 70px 60px;min-height: 500px;">
        <div class="row">
            <div class="col-md-11">
                <strong>{{ parent_comment.comment_title }}</strong>
                    <div class="small">
                        <strong>{{ parent_comment.username }}{{request.user }}</strong>
                            <em>{{ parent_comment.submit_date }}</em>
                    </div>
                    <hr>

                    <p>{{ parent_comment.comment }}</p>
            </div>
            <hr/>
        </div>

         {% if request.session.login or request.user.is_authenticated %}
            <div class="row">
                <h2>回复 &nbsp; &nbsp;{{parent_comment.username }} {{request.user }} &nbsp; &nbsp;</h2>
                    {% get_comment_form for parent_comment.content_object as form %}
                        <form  class="form-horizontal" action="{% comment_form_target %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for = "input_title" class="pull-left control-label" style="margin-left: 30px;">评论标题:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" name ="comment_title" id ="input_title" placeholder="请输入标题" required />
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for = "input_comment" class="pull-left control-label" style="margin-left: 30px;">评论内容:</label>
                                    <div class="col-sm-6">
                                        <textarea  style="resize:none;" class="form-control" rows = 6 name ="comment" id ="input_comment" placeholder="在此输入评论" required ></textarea>
                                    </div>
                            </div>

                            <span style="display: none;">{{ form.honeypot }}</span>
                                {{ form.content_type }}
                                {{ form.object_pk }}
                                {{ form.timestamp }}
                                {{form.security_hash }}
                                <input type="hidden" name="next" value="{% url 'my_data:data_detail' parent_comment.content_object.pk %}" />
                                <input name="parent_id" type="hidden" value="{{ parent_comment.pk }}" />
                                <input name="level" type="hidden" value="{{ parent_comment.level }}">

                                <div class="form-group col-sm-7">
                                    <div class="pull-left" style="margin-left: 68px;">
                                        <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;重置</button>
                                     </div>
                                    <div class="pull-right" style="margin-left: 12px;">
                                        <button type="submit" class="btn btn-success" id="id_submit"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;评论</button>
                                    </div>
                                </div>

                        </form>
                </div>
                    {% else %}
                 <h3>登录后才可以评论</h3>
                {% endif %}
                <hr>

            <div>
                <a style="color: #fff;"  href="{% url 'my_data:data_detail' parent_comment.content_object.pk %}">赞不评论,返回前页面</a>
            </div>

    </div>



{% endblock %}